/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
 display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafafa;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #231f20;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.d-flex{
    align-items: center;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem ;
}

/* #toggle-btn img{
    font-size: 1.5rem;
} */

/* .sidebar-logo {
    margin: 0 auto;
}

.sidebar-logo a {
    color: white;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: white;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;   
}

a.sidebar-link:hover {
    background-color: #48484a;
    border-left: 3px solid #dcddde;
}

.sidebar-item {
    position: relative;
}  */

/* Estilos generales */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* h1 {
    font-weight: 600;
    font-size: 1.5rem;
} */

body {
    font-family: 'Poppins', sans-serif;
}


.wrapper {
    display: flex;
    flex-direction: row;
}

.main {
    min-height: 100vh;
    flex-direction: column;
    width: calc(100% - 70px); /* 70px es el ancho del sidebar cuando está contraído */
    overflow: hidden;
    margin-left: 70px;
    transition: all 0.35s ease;
    background-color: #fafafa;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all 0.35s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #231f20;
    position: fixed;
    height: 100vh;

}

#sidebar.expand {
    width: 260px;
    min-width: 260px;



}

/* Sidebar expandido */
#sidebar.expand + .main {
    width: calc(100% - 260px); /* El main se ajusta al espacio restante */
    margin-left: 260px; /* Desplaza el main para que no esté debajo del sidebar expandido */
    transition: all 0.3s ease;
}

/* .sidebar-logo, 
span {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.sidebar-logo.expand, 
span.expand {
    opacity: 1;
} */


.d-flex {
    align-items: center;
    padding: 1rem;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 0.5rem;
}

.sidebar-logo {
    margin: 0 auto;
}

.sidebar-logo a {
    color: white;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: white;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: #48484a;
    border-left: 3px solid #dcddde;
}

.sidebar-item {
    position: relative;
}

/* Imagen de fondo */

.background-video {
    background-image: url('../IMG/bg-1638x2048.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}



/* Imagen PNG centrada */

.centered-image {
    max-width: 50%; 
    margin-left: 141px;
    height: auto; 
}

.cont-pr .row *{
    padding: 1rem 2rem;
    background-color: rgba(137, 43, 226, 0.295);
    border: 1px blueviolet solid;
}


.my-navbar-color{
    background-color: rgb(88, 17, 155);
}

.my-button{
    background-color: rgb(92, 0, 121);
}
.my-button:hover{
background-color: rgb(175, 134, 212);
}

.wrapper-form{
    margin: 2rem 12rem;
}

/* Estilos para pantallas pequeñas (menos de 1024px) */

@media (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
    }
    .main{
        margin-left: 0;
        width: 100%; 

    }
    #sidebar {
        width: 100%;
        height: auto;
        flex-direction: row;
        position: relative;
    }

    #sidebar.expand {
        width: 1024px;
        min-width: 1024px;
    }

    #sidebar .sidebar-nav {
        display: flex;
        justify-content: space-around;
        padding: 0;
        align-items: center;
    }

    a.sidebar-link {
        padding: 1rem;
        border-left: none;
        border-bottom: 3px solid transparent;
    }

    a.sidebar-link:hover {
        background-color: #48484a;
        border-bottom: 3px solid #dcddde;
    }

    #toggle-btn {
        display: block; /* Asegura que el botón de toggle sea visible */
    }

    .sidebar-logo {
        display: block; /* Asegura que el logo sea visible */
    }

    .d-flex {
        justify-content: space-between; /* Acomoda el logo y el botón en pantallas pequeñas */
        margin: 0px;
    }

    .centered-image {
        padding: 6vh;
        margin-left: 0;
    }


}


@media (max-width: 414px) {
.d-flex{
    flex-direction: column;
}

.centered-image{
    padding: 76px 0vh 0vh 0vh;
}

.video-bg{
    width: 74%;
    margin: 0 auto;
}
}