
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --color1: #fafafa;
    --color2:#231f20;
    --color3:#48484a;
    --color4:#dcddde;
    --color5:#ff5733;
    --color6:#ccc;
    --typo1: "Montserrat", sans-serif;
    --typo2: "Noto Sans", sans-serif;
}

h1, label, .display-4 { 
    font-family: var(--typo1);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
 }

 p{
    font-family: var(--typo2);
 }

/* body {
    font-family: 'Poppins', sans-serif;
} */


.wrapper {
    display: flex;
    flex-direction: row;
}

.main {
    min-height: 100vh;
    flex-direction: column;
    width: calc(100% - 70px); 
    overflow: hidden;
    margin-left: 70px;
    transition: all 0.35s ease;
    background-color: var(--color1);
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all 0.35s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espacio entre los elementos para colocar el ícono abajo */
    height: 100vh; 
    background-color:var(--color2);
    position: fixed;
    height: 100vh;

}



#sidebar.expand {
    width: 260px;
    min-width: 260px;



}

/* Sidebar expandido */
#sidebar.expand + .main {
    width: calc(100% - 260px); 
    margin-left: 260px; 
    transition: all 0.36s ease;
}

/* .sidebar-logo, 
span {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.sidebar-logo.expand, 
span.expand {
    opacity: 1;
} */


.d-flex {
    align-items: center;
    padding: 1rem;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 0.5rem;
}

.sidebar-logo {
    margin: 0 auto;
}

.sidebar-logo a {
    color: var(--color1);
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    /* flex: 1 1 auto; */
    flex: 1; /* Ocupa el espacio disponible */

}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color:var(--color1);
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link {
    padding: .625rem 1.625rem;
    color: var(--color1);
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;

}

a.sidebar-link:hover {
    background-color: var(--color3);
    border-left: 3px solid var(--color4);
}

.sidebar-item {
    position: relative;
}




/* Imagen de fondo */

.background-video {
    background-image: url('../IMG/bg-1638x2048.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}



/* Imagen PNG centrada */



.centered-image {
    max-width: 50%; 
    margin-left: 141px;
    height: auto; 
}

.border-image{
    border-radius: 10px;
}
.wrapper-form{
    margin: 2rem 12rem;
}

.modal-header {
    border-bottom: 0;
}

.modal-body{
    padding: 0;
}

.exhibitions-section {
    font-family: var(--typo1); /* Similar a la fuente de la imagen */
    color: var(--color2); /* Color neutro para el texto */
}

.section-number {
    font-size: 3rem; /* Título de sección grande */
    font-weight: bold;
    color: var(--color5); /* Color destacado para los números (puedes cambiarlo) */
}

.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.section-content p {
    margin: 0;
    font-size: 1rem;
    color: var(--color2); /* Color suave para el texto */
}

.section-content hr {
    border: none;
    border-top: 1px solid var(--color6); /* Líneas finas como separadores */
    margin: 1rem 0;
}

.col-md-6 {
    padding: 4rem;
}

.background-image-section {
    height: 400px; /* Puedes ajustar el tamaño según tus necesidades */
    background-image: url('../IMG/artwork.jpg'); /* Cambia la ruta por la de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen dentro del div */
    background-repeat: no-repeat; /* No repite la imagen */
}
.form-control{
    border: 1px solid var(--color5);
}
.btn-primary {
    background-color: var(--color3); /* Color del botón de envío */
    border: none;
    color: var(--color1); /* Texto oscuro en el botón */
    
}

.btn-primary:hover {
    background-color: var(--color5); /* Color del botón al pasar el ratón */
    color: var(--color2);
}

footer{
    background-color: var(--color2);
}

.footer, .p-autor, .p-footer{
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding: 25px;
    color:var(--color1);
}

.p-autor{
    padding: 0 29px;
    font-weight: 600;
    font: var(--typo1);
}


/* Estilos para pantallas pequeñas (menos de 1024px) */

@media (max-width: 1024px) {
    .wrapper {
        flex-direction: column;
    }
    .main {
        margin-left: 0;
        width: 100%;
    }

   
    #sidebar {
        width: 100%;
        min-width: 100%;
        height: auto;
        flex-direction: row;
        position: relative;
    }

    #sidebar.expand {
        /* width: 1024px;
        min-width: 1024px; */
        width: 70px;
        min-width: 70px;
    }

    #sidebar .sidebar-nav {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        align-items: center;
    }

   

    #sidebar.expand + .main {
        width: calc(100% - 70px);
        margin-left: 70px;
    }

    a.sidebar-link {
        padding: 1rem;
        border-left: none;
        border-bottom: 3px solid transparent;
    }

    a.sidebar-link:hover {
        background-color: inherit; /* Quitar el cambio de fondo */
        border-left: none; /* Quitar el borde izquierdo */
    }

    #toggle-btn {
        display: block; /* Asegura que el botón de toggle sea visible */
    }

    .sidebar-logo {
        display: block; /* Asegura que el logo sea visible */
    }

    .d-flex {
        justify-content: space-between; /* Acomoda el logo y el botón en pantallas pequeñas */
        margin: 0px;
    }

    .centered-image {
        padding: 6vh;
        margin-left: 0;
    }


}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        min-width: 100%;
    }

    .main {
        margin-left: 0;
        width: 100%;
    }

    #sidebar.expand {
        width: 70px;
    }

    #sidebar.expand + .main {
        margin-left: 70px;
        width: calc(100% - 70px);
    }

    .section-number {
        font-size: 2.5rem;
    }
    .section-title {
        font-size: 1.2rem;
    }
    .section-content p {
        font-size: 0.9rem;
    }

    .background-image-section {
        height: 250px;
    }
    .wrapper-form{
        margin: 35px;
    }
}

@media (max-width: 414px) {
.d-flex{
    flex-direction: column;
}

.centered-image{
    padding: 76px 0vh 0vh 0vh;
}

.video-bg{
    width: 74%;
    margin: 0 auto;
}
.carousel-inner .carousel-item .row .col-md-4 {
    display: none;
}
.carousel-inner .carousel-item.active .col-md-4:first-child {
    display: block;

}


}